#topRated{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%);
  padding: 80px 0;
  .topRated{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

  }
}